{% extends 'pages/base.html' %} 
<!--Main-->
{% block content %}

<div class="container col-8 mx-auto mt-5">
    
    <h2>Walks near you</h1>

    <div class="walk-container">
        <div class="row">
            <div class="col-10">
                <h3 class="walk-name">Merley Loop Walk</h3>
                <p class="walk-distance">2 miles</p>
                <i class="fas fa-restroom circle circle-orange"></i>
                <i class="fas fa-parking circle circle-blue"></i>
                <i class="fas fa-wheelchair circle circle-green"></i>
                <i class="fas fa-mountain circle circle-purple"></i>
            </div>
            <div class="col-2 walk-external-link">
                <a href="{% url 'index' %}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>

    <div class="walk-container">
        <div class="row">
            <div class="col-10">
                <h3 class="walk-name">Fenners Field Park</h3>
                <p class="walk-distance">3.5 miles</p>
                <i class="fas fa-restroom circle circle-orange"></i>
                <i class="fas fa-parking circle"></i>
                <i class="fas fa-wheelchair circle circle-green"></i>
                <i class="fas fa-mountain circle"></i>
            </div>
            <div class="col-2 walk-external-link">
                <a href="{% url 'index' %}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>



</div>

{% endblock %}