{% extends 'pages/base.html' %} 
<!--Main-->
{% block content %}

<div class="container mx-auto mt-5">
    
    <h2> 
        {{ walk.walk_name }}
    </h2>

    <div class="walk-container">
        <div class="row walk-details">
            <p><span class="walk-details-amenity-heading">Distance: </span><span class="walk-distance">{{ walk.walk_length }} miles</span></p>
            <p><span class="walk-details-amenity-heading">Step count: </span><span class="walk-distance">{{ walk.step_count }} steps</span></p>
            <p><span class="walk-details-amenity-heading">Rating: </span><span class="walk-distance">{{ walk.rating }} </span></p>
            <br />
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">

                {% if walk.parking %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-parking circle circle-blue"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">Parking is available</p>
                        </div>
                    </div>
                {% endif %}            

                {% if walk.wheelchair_access %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-wheelchair circle circle-green"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">Wheelchair accessible</p>
                        </div>
                    </div>
                {% endif %}                   

                {% if walk.toilet %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-restroom circle circle-orange"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">Toilets are available</p>
                        </div>
                    </div>
                {% endif %}

                {% if walk.cafe %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-coffee circle circle-purple"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">There is a cafe</p>
                        </div>
                    </div>
                {% endif %}                
                
                {% if walk.rest_area %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-chair circle circle-red"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">There is a rest area</p>
                        </div>
                    </div>
                {% endif %}     

                {% if walk.scenic_spot %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-camera circle circle-light-blue"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">There is a scenic spot</p>
                        </div>
                    </div>
                {% endif %}  
                
                {% if walk.dog_bin %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-dog circle circle-pink"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">Dog waste bins are available</p>
                        </div>
                    </div>
                {% endif %}                    

            </div>
            <div class="col-md-8">
                <img class="img-fluid walks-detail-img" src="/static/img/map.png" alt="map picture">
            </div>
        </div>
    </div>

    {% if walk.photo %}
        <div class="walk-container-photo">
            <p class="photo-caption">Photo of {{ walk.walk_name }}</p>
            <img class="img-fluid walks-detail-img"
            src="{{ walk.photo.url }}">
        </div>
    {% endif %}
        


    <div class="walk-container-reviews">
        <div class="row">
            <h3>Reviews</h3>
        </div>

        <div class="row review">
            <p class="review-p">Lovely walk! A bit steep, make sure you have good grip on your footwear.</p>
            <p class="review-p">- <span class="review-username">betty_red22</span></p>
        </div>
        <div class="row review">
            <p class="review-p">Lots of bluebells in the spring. My dog Scout loved this walk.</p>
            <p class="review-p">- <span class="review-username">evfsmart</span></p>
        </div>

    </div>

</div>


{% endblock %}