{% extends 'pages/base.html' %} 
<!--Main-->
{% block content %}
{% if user.is_authenticated %}
<div class="container walks-container col-md-8 mx-auto mt-5">
    
    <h2>Walks near you</h2>

    {% for walk in walk_list %}

    <div class="walk-container">
        <div class="row">
            <div class="col-10">
                <h3 class="walk-name"><a href="{% url 'walks_detail' pk=walk.pk %}">{{ walk.walk_name }}</a></h3>
                <p class="walk-distance">{{ walk.walk_length }} miles</p>
                {% if walk.parking %} <i class="fas fa-parking circle circle-blue"></i> {% endif %}
                {% if walk.wheelchair_access %} <i class="fas fa-wheelchair circle circle-green"></i> {% endif %}
                {% if walk.toilet %} <i class="fas fa-restroom circle circle-orange"></i> {% endif %}
                {% if walk.cafe %} <i class="fas fa-coffee circle circle-purple"></i> {% endif %}
                {% if walk.rest_area %} <i class="fas fa-chair circle circle-red"></i> {% endif %}
                {% if walk.scenic_spot %} <i class="fas fa-camera circle circle-light-blue"></i> {% endif %}
                {% if walk.dog_bin %} <i class="fas fa-dog circle circle-pink"></i> {% endif %}
                
                {% comment %}  <i class="fas fa-mountain circle circle-purple"></i> {% endcomment %}
            </div>
            <div class="col-2 walk-external-link">
                <a href="{% url 'walks_detail' pk=walk.pk %}" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
    </div>

{% endfor %}

</div>
{% else %}
    <div class="container mx-auto mt-5">
        <p>You are not logged in</p>
        <a href="{% url 'index' %}" type="button" class="btn btn-lg btn-primary">Log in</a>
    </div>
{% endif %}
{% endblock %}