{% extends 'pages/base.html' %} 
<!--Main-->
{% block content %}

<div class="container mx-auto mt-5">
    
    <h2 id="walk_name"> 
        {{ walk.walk_name }}
    </h2>

    <div class="walk-container">
        <div class="row walk-details">
            <p><span class="walk-details-amenity-heading">Distance: </span><span class="walk-distance">{{ walk.walk_length }} miles</span></p>
            <p><span class="walk-details-amenity-heading">Step count: </span><span class="walk-distance">{{ walk.step_count }} steps</span></p>
            <p><span class="walk-details-amenity-heading">Rating: </span><span class="walk-distance">{{ walk.rating }} </span></p>
            <p class="coords"><span id="walk-lat">{{ walk.lat }}</span> <span id="walk-lng">{{ walk.lng }}</span></p>
            <br />
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">

                {% if walk.parking %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-parking circle circle-blue"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">Parking is available</p>
                        </div>
                    </div>
                {% endif %}            

                {% if walk.wheelchair_access %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-wheelchair circle circle-green"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">Wheelchair accessible</p>
                        </div>
                    </div>
                {% endif %}                   

                {% if walk.toilet %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-restroom circle circle-orange"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">Toilets are available</p>
                        </div>
                    </div>
                {% endif %}

                {% if walk.cafe %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-coffee circle circle-purple"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">There is a cafe</p>
                        </div>
                    </div>
                {% endif %}                
                
                {% if walk.rest_area %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-chair circle circle-red"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">There is a rest area</p>
                        </div>
                    </div>
                {% endif %}     

                {% if walk.scenic_spot %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-camera circle circle-light-blue"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">There is a scenic spot</p>
                        </div>
                    </div>
                {% endif %}  
                
                {% if walk.dog_bin %}
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fas fa-dog circle circle-pink"></i>
                        </div>
                        <div class="col-10">
                            <p class="walk-details-amenity-detail">Dog waste bins are available</p>
                        </div>
                    </div>
                {% endif %}                    

            </div>
            {% comment %} google map {% endcomment %}
            <div class="col-md-8">
                <div id="map">
                    <script
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYR34JwAY2CTIUUIpoXQBkQlH1cR9QrDE&callback=initMap&libraries=&v=weekly";
                    async
                  >`zå`
                </script>
                </div>
            </div>
            {% comment %} end google map {% endcomment %}
        </div>
    </div>

    {% if walk.photo %}
        <div class="walk-container-photo">
            <p class="photo-caption">Photo of {{ walk.walk_name }}</p>
            <img class="img-fluid walks-detail-img"
            src="{{ walk.photo.url }}">
        </div>
    {% endif %}
        

    <div class="walk-container-reviews">
        <div class="row">
            <h3>Reviews</h3>
        </div>

            <P>  

                <p> Author: {{ review.author }} </p>
                <p> Title: {{ review.title }} </p>
                <p> {{ review.body }} </p>
                
            </P> 
            
        </div>  
    </div>
</div>


<script src="/static/js/map.js"></script>


{% endblock %}