:root {
    /* --dark: #2E426F; navy */
    --dark: #146356; /* green */
    --medium: #11468F; 
    /* --medium: #4267B2; Facebook */
    /* --medium: #1572A1; 
    /* --medium: #006A71; green */
     /* --medium: #3FC5F0; light */
    /* --medium: #73c1de; light-dusky; */
    --grey: #898F9C;
    --white: #fff ;
    --pale: #dfecf2;
    --facebook: #4267B2;
    --google: #4C8BF5;
}

body {
    font-family: "Roboto", sans-serif;
}

.index-body {
    background: linear-gradient(to bottom, var(--white), transparent),
        url("../img/countryside-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    /* free on unsplash @jesmanfabio */
}

h1 {
    color: var(--dark);
    font-family: "Kalam", sans-serif;
    font-size: 6vw;
    font-weight: 700;
    margin-top: 10%;
    text-align: center;
}

h2 {
    color: var(--medium);
    font-size: 4vw;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.index-strapline {
    color: var(--grey);
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 8%;
    text-align: center;
}

h3 {
    font-size: 1.5;
}

a {
    text-decoration: none;
}

p {
    color: var(--grey);
    font-size: 1.5rem;
}

/* navbar */

.navbar-dark {
    background-color: var(--medium);
}

.navbar-dark .navbar-brand:hover {
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--white);
    font-weight: 700;
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link {
    padding-right: 2rem;
}

/* header */
.header {
    margin: 3% auto;
}

/* main */

.btn-lg {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn:hover {
    background-color: var(--dark);
    border-color: var(--white);
}

.btn-primary {
    background-color: var(--medium);
    border-color: var(--white);
}

.btn-secondary {
    background-color: var(--grey);
    border-color: var(--white);
}

.create-user {
    margin-top: 50px;
}

.create-user-submit {
    margin-bottom: 100px;
}

.facebook {
    background-color: var(--facebook);
}

.google {
    background-color: var(--google);
}

.main {
    padding-bottom: 100px;
}

.block-img {
    box-shadow: 1px 1px 4px #ccc;
    border-radius: 8px;
    width: 100%;
}

/* footer */
.footer {
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.footer p {
    color: var(--white);
}

.footer-icon {
    color: var(--white);
    margin: 10px;
}

.footer-icon:hover {
    color: var(--medium);
}

/* walks */
.walk-container {
    background-color: var(--pale);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 12px;
}

.walks-container {
    margin-bottom: 100px;
}

.walk-container-reviews {
    background-color: var(--pale);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 100px;
}

.walk-container-photo {
    background-color: var(--pale);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

.walk-details {
    margin-bottom: 24px;
}

.walk-distance {
    font-style: italic;
}

.walk-external-link {
    font-size: 28px;
    padding-right: 20px;
    text-align: right;
}

.walk-icon {
    font-size: 18px;
    background-color: red;
    border-radius: 50%;
    padding: 6px;
    min-height: 36px;
}

.walks-detail-img {
    border: 2px solid var(--white);
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
}

.walk-details-amenity-heading {
    font-weight: 900;
}

.walk-details-amenity-detail {
    padding-top: 6px;
    padding-bottom: 0;
}

.walk-container p {
    margin-bottom: 0;
}

.circle {
    background: grey;
    border-radius:50px;
    color:#fff;
    font-size:20px;
    height:40px;
    line-height:40px;
    margin: 4px;
    text-align:center;
    width:40px;
}

.circle-orange {
    background: orange;
}
.circle-blue {
    background: blue;
}
.circle-green {
    background: green;
}
.circle-purple {
    background: purple;
}

.circle-pink {
    background: rgb(236, 72, 195);
}

.circle-red {
    background: red;
}

.circle-light-blue {
    background: lightskyblue;
}

.fa-external-link-alt {
    color: var(--dark);
}

.fa-external-link-alt:hover {
    color: var(--medium);
}

.review {
    background-color: var(--white);
    border-radius: 8px;
    margin: 6px 2px;
}

.review-p {
    margin-bottom: 0;
    margin-top: 0;
}

.review-username {
    font-style: italic;
}

.photo-caption {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

/* map */
#map {
    background-color: var(--medium);
    border: 2px solid var(--white);
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
    height: 400px;
    width: 100%;
}

.coords {
    color: var(--pale);
    font-size: 2px;
}

/* Media query */
@media (max-width: 600px) {

    p {
        font-size: 1rem;
    }

    h1 {
        font-size: 7vw;
        margin-top: 40px;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }

    .btn-lg {
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}
