{% extends 'pages/base.html' %} 
<!--Main-->
{% block content %}

<div class="container col-8 mx-auto mt-5">
    <div class="header">
        <h2>
            Log in with email
        </h2>
    </div>


    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </div>

        <div class="create-user">
          <label for="create user button" class="form-label">Don't have an account yet?</label>
          <br />
          <a href="{% url 'create_user' %}" class="btn btn-secondary" type="button">Create new user</a>
      </div>


      </form>

</div>

{% endblock %}