{% extends 'pages/base.html' %} 
<!--Main-->

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container mx-auto mt-5">
    <h2 class="center"> 
        Welcome to your home page {{ user.first_name }}
    </h2>


    <div class="walk-container">
        <h3>My profile:</h3>
        <P><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</P>
        <P><strong>Username:</strong> {{ user.username }}</P>
        <P><strong>email:</strong> {{ user.email }}</P>
    </div>
    <div class="walk-container">
        <h3>My groups:</h3>
        <P> 
           <td>{% for element in user.app_user.group.all %}
            
               <a href="{% url 'group_details' pk=element.pk %}" target="_blank">{{ element.group_name}}</a>
               <br />
               {% endfor %}
           </td> 
        </P> 
        
    </div>  
    <div class="mt-5 mb-4">
        <a href="{% url 'stepcounter' %}" type="button" class="btn btn-lg btn-primary">Request free step counter</a>
    </div>
    <div>
        <a href="{% url 'logout' %}" type="button" class="btn btn-secondary mb-5">Log out</a>
    </div>
    
</div>

{% else %}
    <div class="container mx-auto mt-5">
        <p>You are not logged in</p>
        <a href="{% url 'index' %}" type="button" class="btn btn-lg btn-primary">Log in</a>
    </div>
  
{% endif %}
{% endblock %}
