{% extends 'pages/base.html' %} 
<!--Main-->
{% block content %}

<div class="container mx-auto mt-5">
    
    <h2 class="center"> 
        Welcome to your home page, {{ user.user.first_name }}
    </h2>


    <div class="walk-container">
        <h3>My profile:</h3>
        <P><strong>Name:</strong> {{ user.user.first_name }} {{ user.user.last_name }}</P>
        <P><strong>Username:</strong> {{ user.user.username }}</P>
        <P><strong>email:</strong> {{ user.user.email }}</P>
    </div>
    <div class="walk-container">
        <h3>My groups:</h3>
        <P>  
           <td>{% for element in user.group.all %}
               {{ element.group_name}}<br> <!--make this a link to the groups_details page-->
               {% endfor %}
           </td> 
        </P> 
        
    </div>  
    
</div>


{% endblock %}