{% extends 'pages/base.html' %} 
<!--Main-->
{% block content %}

    <div class="container col-8 mx-auto mt-5">
        <div class="header">
            <h2>About us</h2>
            <p>Digital Walking Group is an online community space for local residents.</p>
            <p>All are welcome, but we have a special focus on residents aged 60+.</p>
            <p>Discover what is going on in your local area and share your experiences.</p>

            <h2 id="codeOfConduct">Code of Conduct</h2>
                <ul>
                    <li>Be kind and welcoming to others</li>
                    <li>Provide a safe space regardless of gender identity, age, sexual orientation, disability
                        race, ethnicity, religion, or other characteristics
                    </li>
                    <li>Treat everyone fairly and with respect</li>
                    <li>Do not offer advice if it has not been asked for</li>
                    <li>Do not post personal information or advertisements in group spaces</li>
                    <li>Embrace best practice of online safety and safeguarding</li>
                    <li>Strive to have a positive impact on the community</li>
                </ul>


            <div class="mb-5">
                <h4 class="mt-5">About the team</h4>
                
                <p class="about-team">Digital Walking Group is a team project presented by Vicky Barnett, 
                    Mobolaji Ogunyemi, Polina Schadauer-Povarich, and Emma Smart, for the 
                    TechUP / Durham University <a href="https://techupwomen.org/?page_id=1417" target="_blank">Skills Bootcamp in Software Development 2022</a>.</p>
                <p class="about-team">Technologies we have used are: HTML, CSS, Bootstrap, JavaScript, Django, Git and <a href="https://github.com/Merley-North-Digital-Walking-Group/walking-app" target="_blank">GitHub</a>.</p>
            </div>
            

            <img class="block-img mb-5" src="../static/img/elderly-walking-NOT-OURS.jpeg" alt="elderly walking image">
        </div>
    </div>

{% endblock %}