 {% extends 'pages/base.html' %} 
  <!--Main-->
  {% block content %}
    <div class="container index-main">
        <div class="header">
            <h1>
                Digital Walking Group
            </h1>
        </div>


          <div class="main d-grid gap-2 col-8 mx-auto">
            <a href="login-email.html" class="btn btn-primary btn-lg" type="button"><i class="far fa-envelope"></i> Log in with email</a>
            <a href="login-facebook.html" class="facebook btn btn-primary btn-lg" type="button"><i class="fab fa-facebook-square"></i> Log in with facebook</a>
            <a href="login-google.html" class="google btn btn-primary btn-lg" type="button"><i class="fab fa-google"></i> Log in with google</a>
            <a href="create-user.html" class="btn btn-secondary btn-lg" type="button">Create user</a>
          </div>

    </div>
  {% endblock %}

