{% extends 'pages/base.html' %} 
<!--Main-->
{% block content %}
{% if user.is_authenticated %}
<div class="container mx-auto mt-5">
    <div class="header">
        <h2>
            Local news
        </h2>
        <div class="walk-container mb-5">
            <h3>🇬🇧 UK</h3>
                <a href="https://www.bbc.co.uk/news" target="_blank" class="news-link">bbc.co.uk/news</i></a>
            <hr />
            <h3 class="mt-md-4">🏴󠁧󠁢󠁳󠁣󠁴󠁿 Scotland</h3>
                <a href="https://www.bbc.co.uk/news/scotland" target="_blank" class="news-link">bbc.co.uk/news/scotland</i></a>
            <hr />
            <h3 class="mt-md-4">🇮🇪 🇬🇧 Northern Ireland</h3>
                <a href="https://www.bbc.co.uk/news/northern_ireland" target="_blank" class="news-link">bbc.co.uk/news/northern_ireland</i></a>
            <hr />
            <h3 class="mt-md-4">🏴󠁧󠁢󠁷󠁬󠁳󠁿 Wales</h3>
                <a href="https://www.bbc.co.uk/news/wales" target="_blank" class="news-link">bbc.co.uk/news/wales</i></a>
            <hr />
            <h3 class="mt-md-4">🏴󠁧󠁢󠁥󠁮󠁧󠁿 England</h3>
                <a href="https://www.bbc.co.uk/news/england" target="_blank" class="news-link">bbc.co.uk/news/england</i></a>
    </div>  

    </div>
</div>

{% else %}
  <div class="container mx-auto mt-5">
      <p>You are not logged in</p>
      <a href="{% url 'index' %}" type="button" class="btn btn-lg btn-primary">Log in</a>
  </div>

{% endif %}
{% endblock %}
